@font-face {
    font-family: 'PTSans';
    src: url('PTF55F.ttf');
}
@font-face {
    font-family: 'PTSansI';
    src: url('PTF56F.ttf');
}
@font-face {
    font-family: 'PTSansBold';
    src: url('PTF75F.ttf');
}
@font-face {
    font-family: 'PTSansIBold';
    src: url('PTF76F.ttf');
}
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PTSans';
    color: rgb(175,181,190);
    height: 100%;
    background-image: url('./background1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(19,31,53);
}
a{
    text-decoration: underline;
    color: white;
}
.header{
    height: 65px;
    background-color: rgba(14, 19, 32, 0.7);
}
.wrapper-header{
    display: flex;
    justify-content: space-between;
}
.wrapper-header-left{
    padding: 10px;
    padding-right: 30px;
}
.link-main-logo-name{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.2s;
}
.link-main-logo-name:hover{
    filter: brightness(2);
}
.logo{
    width: 40px;
    height: 40px;
}
.wrapper-nameOrganisation{
    margin-top: 7px;
}
.nameOrganisation{
    color: rgb(175,181,190);
    font-size: 25px;
    font-family: 'PTSansIBold';
    margin-left: 10px;
    transition: 0.3s;
}
.wrapper-header-right{
    margin-top: 17px;
    margin-right: 7%;
}
.link-menu{
    color: rgb(175,181,190);
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
}
.link-menu:hover{
    color: white;
}
.wrapper-main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(27, 46, 73, 0.9);
    height: 720px;
    margin-top: 30px;
    padding: 20px 20px 50px 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.wrapper-main>p{
    color: rgb(175,181,190);
    font-family: 'PTSans';
}
.text-top{
    text-align: center;
}
.text-chair{
    text-align: end;
    padding-top: 50px;
}
.text-indZad{
    text-align: center;
    padding-top: 50px;
}
.text-project{
    text-align: center;
    padding-top: 70px;
}
.text-nameProject{
    font-size: 1.5em;
}
.text-executor{
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.text-executor-niz{
    padding-top: 0;
    margin-top: 0;
}
.text-executor-right{
    text-align: right;
}
.text-executor-right>a{
    text-decoration: none;
    color: rgb(175,181,190);
}
.text-executor-right>a:hover{
    text-decoration: underline;
    color: rgb(255,255,255);
}
.text-executor-right-span{
    float: right;
}
.text-place{
    text-align: center;
    padding-top: 100px;
}
.footer{
    height: 100px;
    background-color: rgba(14, 19, 32, 0.7);
    padding-top: 10px;
}
.wrapper-footer{
    margin: 0 auto;
}
.items{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.img-logo-bseu{
    width: 30px;
}
.items>a>img{
    width: 30px;
    margin: 5px;
}
.filterHover:hover{
    filter: brightness(2);
}
.img-logo-bseu:hover{
    filter: contrast(70%);
}
.text-copyright{
    text-align: center;
    font-size: 12px;
}
.link-vk{
    text-decoration: none;
    color: rgb(175,181,190);
    transition: 0.3s;
}
.link-vk:hover{
    text-decoration: underline;
    color: white;
}

@media (max-width: 760px){
    .wrapper-main{
        margin-top: 30px;
        margin-right: 15px;
        margin-left: 15px;
        max-width: none;
        width: 90%;
    }
}
@media (max-width: 640px){
    .wrapper-main{
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;
        max-width: none;
        width: 90%;
    }
}
@media (max-width: 640px){
    .wrapper-main{
        margin-top: 30px;
        margin-right: 5px;
        margin-left: 5px;
        max-width: none;
        width: 90%;
    }
}
@media (max-width: 500px){
    .wrapper-nameOrganisation{
        margin-top: 10px;
    }
    .nameOrganisation{
        font-size: 20px;
    }
    .wrapper-header-right{
        margin-top: 20px;
    }
    .link-menu{
        font-size: 20px;
    }
    .logo{
        margin-top: 7px;
        width: 30px;
        height: 30px;
    }
    .wrapper-main{
        margin-top: 30px;
        margin-right: 28px;
        margin-left: 28px;
        max-width: none;
        width: 80%;
        height: 750px;
    }
}
@media (max-width: 410px){
    .wrapper-nameOrganisation{
        margin-top: 0px;
        margin-left: 5px;
    }
}
@media (max-width: 370px){
    .wrapper-main{
        margin-top: 30px;
        margin-right: 15px;
        margin-left: 15px;
        max-width: none;
        width: 80%;
    }
}